@import "../../styles/contents.scss";

.wrapper {
  @media (max-width: $sm) {
    position: relative;
    height: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  overflow: hidden;
  background-color: $secondary-white;
  padding: -1rem 5rem;

  .container {
    position: relative;
    z-index: 0;
    @media (max-width: $sm) {
    }

    .upperElements {
      @media (max-width: $sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      align-items: center;
    }

    .lowerElements {
      @media (max-width: $sm) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }

      display: flex;
      justify-content: space-between;
      margin-top: 16rem;
      margin-bottom: 2rem;
      align-items: center;

      .experience {
        @media (max-width: $sm) {
          position: relative;
          display: flex;
          margin-top: 1rem;
          flex-direction: row;
          justify-items: flex-start;
        }
        display: flex;
        align-items: center;
        gap: 0.7rem;
        > :nth-child(2) {
          line-height: 25px;
        }
      }

      .cettificate {
        @media (max-width : $sm) {
          position: relative;
          display: flex;
          margin-top: 1rem;
          // flex-direction: column;
          // justify-content: flex-start;
          // justify-items: center
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;        
        flex-wrap: wrap;
        > :nth-child(2) {
          line-height: 10px;
        }

        img{
          @media (max-width : $sm) {
            width: 40%;
          }
        }

        // padding-bottom: 10rem;
      }
    }

    .prodileImage {
      @media (max-width: $sm) {
        position: relative;
        opacity: 1;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 80%;
      }
      display: flex;
      position: absolute;
      margin: auto;
      width: 30%;
      bottom: -2rem;
      background-image: url("../../imgs//splash.png");
      background-repeat: no-repeat;
      background-size: 23rem;
      left: 37.3%;
      transition: all 300ms ease;
      background-position: bottom;

      img{
        @media (max-width: $sm) {
          
        }
      }
    }

    .email {
      @media (max-width: $sm) {
        position: relative;
        justify-content: center;
        top: 0%;
        flex-direction: row;
        margin-top: 1rem;
      }
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50%;

      a {
        @media (max-width: $sm) {
          justify-content: center;
          align-items: center;
        }
        list-style: none;
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
